<div>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Tipo de viaje</th>
            <th>Duración</th>
            <th>Destino</th>
            <th>Plazas</th>
            <th>Rating</th>
        </thead>
        <tbody>
            <ng-container *ngFor="let viaje of viajes">
                <tr>
                    <td>{{ viaje.nombre }}</td>
                    <td>{{ viaje.tipo }}</td>
                    <td>{{ viaje.duracion }}</td>
                    <td>{{ viaje.destino }}</td>
                    <td>{{ viaje.rating }}</td>
                    <td><button (click)="borrarViaje(viaje)">Delete</button></td>
                    <td><button>Edit</button></td>
                </tr>
            </ng-container>
        </tbody>

    </table>

</div>