<div>
    <form class="viajes-form" [formGroup]="viajesForm" (ngSubmit)="guardarViaje(viajesForm.value)">

        <mat-form-field class="viajes-form-field">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre">
        </mat-form-field>

        <mat-form-field class="viajes-form-field">
            <mat-label>Tipo de Viaje</mat-label>
            <input matInput type="text" formControlName="tipo">
        </mat-form-field>

        <mat-form-field class="viajes-form-field">
            <mat-label>Destino</mat-label>
            <input matInput type="text" formControlName="destino">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Duración</mat-label>
            <input matInput type="number" formControlName="duracion">
        </mat-form-field>

        <mat-form-field class="viajes-form-field-sm">
            <mat-label>Plazas</mat-label>
            <input matInput type="number" formControlName="plazas">
        </mat-form-field>

        <mat-form-field class="viajes-form-field-sm">
            <mat-label>Rating</mat-label>
            <input matInput type="number" formControlName="rating">
        </mat-form-field>


        <button mat-raised-button color="primary">Guardar</button>

    </form>
</div>